<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>sapdp</display-name>
	<welcome-file-list>
		<welcome-file>login.jsf</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>bootstrap</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<context-param>
		<param-name>com.sun.faces.writeStateAtFormEnd</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>com.sun.faces.writeStateAtFormEnd</param-name>
		<param-value>false</param-value>
	</context-param>
	<filter>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>PrimeFaces FileUpload Filter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
	</filter-mapping>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>jaas-realm</realm-name>
		<form-login-config>
			<form-login-page>/login.jsf</form-login-page>
			<form-error-page>/login.jsf</form-error-page>
		</form-login-config>
	</login-config>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Acesso masters</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>MASTER-ROLE</role-name>
			<role-name>ADMIN-ROLE</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Acesso moderado</web-resource-name>
			<url-pattern>/defensor/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>MASTER-ROLE</role-name>
			<role-name>ADMIN-ROLE</role-name>
			<role-name>DEFENSOR-ROLE</role-name>
			<role-name>ASSESSOR-ROLE</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Acesso basico</web-resource-name>
			<url-pattern>/atendente/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>*</role-name>
		</auth-constraint>
	</security-constraint>
	
	<security-role>
		<role-name>MASTER-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>ADMIN-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>DEFENSOR-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>ASSESSOR-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>ATENDENTE-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>VISITANTE-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>ASSISTENTE-SOCIAL-ROLE</role-name>
	</security-role>
	<security-role>
		<role-name>ESTAGIARIO-ROLE</role-name>
	</security-role>
</web-app>